$black: #000;
$white: #fff;
.middle{
	padding-top: 15px;
	&__left-bar{
		background-color: $white;
		margin-bottom: 15px;
		padding: 15px 10px;
		border-radius: 10px;
		box-shadow: 0px 4px 7.2px 2.8px rgba(0, 0, 0, 0.41);
		&--item{
			padding: 10px;
			border-radius: 5px;
			border: 1px solid #33d5be; 
			background-color: #f8f8f8;
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				border: 1px solid rgb(219, 219, 219);
				border-width: 1px;
				border-color: rgb(219, 219, 219);
				border-style: solid;
				border-radius: 5px;
				li{
					background-color: #f2f2f2;
					a{
						text-decoration: none;
						font-size: 14px;
						line-height: 17px;
						color: #505050;
						font-family: "Roboto";
						font-weight: 400;
						display: block;
						padding: 8px;
						background-image: -moz-linear-gradient( 90deg, rgba(1,1,1,.1) 0%, rgb(255,255,255) 100%);
						background-image: -webkit-linear-gradient( 90deg, rgba(1,1,1,.1) 0%, rgb(255,255,255) 100%);
						background-image: -ms-linear-gradient( 90deg, rgba(1,1,1,.1) 0%, rgb(255,255,255) 100%);
						&:hover{
							background-image: -moz-linear-gradient( 90deg, 	rgb(170,170,170) 0%,  rgba(1,1,1,.3) 100%);
							background-image: -webkit-linear-gradient( 90deg, 	rgb(170,170,170) 0%,  rgba(1,1,1,.3) 100%);
							background-image: -ms-linear-gradient( 90deg, 	rgb(170,170,170) 0%,  rgba(1,1,1,.3) 100%);
							border: none;
							transition: all .3s;
						}
					}
				}
			}
			h2{
				margin: 10px 0 20px;
				font-size: 16px;
				color: $black;
				font-family: "Roboto";
				font-weight: 400;
			}  			
			img{
				padding: 0 50px 0 20px;
				max-width: 100%;
			}
			p{
				margin: 25px 0 10px;
				font-size: 16px;
				color: $black;
				font-family: "Roboto";
				font-weight: 400;
				text-align: center;
			}
		}
	}	

	.main{
		box-shadow: 0px 4px 7.2px 2.8px rgba(0, 0, 0, 0.41);
		background-color: $white;
		border-radius: 10px;
		&__top{				
			position: relative;		
			border-bottom: 4px solid #0bd9a1;
			padding: 0 30px 20px;
			a{
				border-radius: 0 10px 0 0;
				position: absolute;
				display: inline-block;
				text-decoration: none;
				background-color: $white;
				border-left: 7px solid #0bd9a1;
				color: $black;
				font-size: 22px;
				padding: 0 10px 0 10px;
				right: 0;
				top: 0;
				 box-shadow: 0px 9px 13.02px 0.98px rgba(88, 88, 89, 0.24);
				}		
			&--caption{
				h2{
					margin: 0;
					padding-top: 25px;
					font-size: 30px;
					color: $black;
					font-family: "Roboto";
					font-weight: 400;
				}	
			}			
		}
		&__desc{
			padding: 30px 30px 45px 30px;
			padding-bottom: 0;
			img{
				max-width: 100%;
			}
			&--about{
				margin-top: 20px;
				h3{
					font-size: 20px;
					color: $black;
					font-family: "Roboto";
					font-weight: 400;
					margin-bottom: 35px;
				}
				p{
					font-size: 16px;
					color: $black;
					font-family: "Roboto";
					font-weight: 400;
					line-height: 26px;
				}
				.bot{
					padding-bottom: 30px;
				}
			}
		}
		&__our-works{
			border-bottom: 4px solid #0bd9a1;
			padding: 25px 30px 20px;
			&--caption{
				h2{
					margin: 0;
					font-size: 30px;
					color: $black;
					font-family: "Roboto";
					font-weight: 400;
				}
			}
		}
		.owl-carousel{
			padding: 50px 30px 25px 30px;
			.owl-nav{
				position: absolute;
				right: 30px;
				top: 10px;
				.owl-prev{
					display: inline-block;
				}
				.owl-next{
					display: inline-block;
				}
				.fa-angle-right{
					font-size: 20px;
					border: 1px solid #c6c6c6;
					padding: 3px 10px;
					&:hover{
						background-color: #E2E2E2;
						transition: all .3s;
						color: #C6C6C6;
					}
				}
				.fa-angle-left{
					font-size: 20px;
					border: 1px solid #c6c6c6;
					padding: 3px 10px;
					margin-right: 7px;
					&:hover{
						background-color: #E2E2E2;
						transition: all .3s;
						color: #C6C6C6;
					}
				}
			}
		&--item{
				max-width: 240px;
				text-align: center;
				img{
					min-width: 100%;
				}
			}
		}

	}
}
